/* body {
    --box-color: #39cccc;
    --box-width: 200px;

    --item-color: #2ecc40;
    --item-color-light: #6ece7933;
} */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

.roboto-mono {
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* body {
    font-family: "Roboto Mono", monospace !important;
} */

:root {
    --padding: 4px;
}

.box {
    border-color: var(--box-color) !important;
    color: var(--item-text-color);
    background: var(--box-background-color);
}

.box .children .item {
    margin-block: 2px
}

.control-bar {
    border-color: var(--box-control-color) !important;
    color: var(--box-control-color) !important;
    padding: var(--padding);
}

.item {
    border: 1px solid var(--item-color);
    color: var(--item-text-color);
    /*padding-inline: var(--padding);*/
    background: var(--item-background);
}

.item:hover {
    background: var(--item-background-hover)
}

button {
    border-radius: 5px;
    background: var(--item-background);
    cursor: pointer;
    /* border: none; */
}

.dropdown > button.btn {
    border: none;
    width: 100%;
    text-align: center;

}
.dropdown > button.btn:not(:hover) {
    background: none;
}.dropdown > button.btn:hover {
    text-decoration: underline;
}

button.btn, .icon-btn {
    background-color: rgba(var(--detail-contrast), 0.1);
    border-color: var(--box-control-color);
}

button.btn {
    padding: 3px 5px;
    border-width: 1px;
    background-color: var(--button-bg);
    min-width: 20px;
}

button.icon-btn {
    border-radius: 5px;
    border-width: 1px;
    cursor: pointer;
    display: inline-block;
    background-color: var(--button-bg);
}

.icon-btn:not(:hover) {
    border-color: transparent;
}

.icon-btn:hover,
.icon-btn:focus {
    border-width: 1px;
    background-color: rgba(var(--detail-contrast-alt),.25);
}

.icon-btn.hoverable {
    cursor: default;
}
.icon-btn.hoverable:not(:hover) {
    filter: grayscale(70%);
}
.icon-btn.hoverable:hover {
    border: 1px solid var(--item-text-color);
}

button.fill-button {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
}


button:hover {
    background: var(--item-background-hover);
}

button.icon {
    aspect-ratio: 1;
}

body {
    --box-width: 3rem;
    color: var(--item-text-color);
    line-height: 1.25;
}

main {
    overflow: auto;
}

.contents {
    display: contents;
}

@media (prefers-color-scheme: light) {
    main {
        background-color: #DDDDDD;
    }

    body {
        --box-color: #0074D9;
        --box-color-rgb: 0, 116, 217;
        --box-background-color: #EEEEEE;
        --box-control-color: white;
        --box-control-color-rgb: 255,255,255;

        --item-color: transparent;
        --item-text-color: #111;
        --item-text-color-rgb: 17,17,17;

        --item-background: rgba(255, 255, 255, .5);
        --item-background-hover: rgba(255, 255, 255, 1);

        --detail-contrast: 0, 0, 0;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        /* --box-color: #7FDBFF; */
        --box-color: #001f3f;
        --box-color-rgb: 0, 31, 63;
        --box-background-color: #001121;
        --box-control-color: #7FDBFF;
        --box-control-color-rgb: 127, 219, 255;

        --item-color: transparent;
        --item-text-color: #EEEEEE;
        --item-text-color-rgb: 238,238,238;

        --item-background: rgba(255, 255, 255, .075);
        --item-background-hover: rgba(255, 255, 255, .12);

        --detail-contrast: 255, 255, 255;
        --detail-contrast-alt: 0, 0, 0;

        --button-bg: #1a3653;
    }

    main,
    #rail {
        background-color: #111111;
    }

    #rail {
        border-right: 1px inset var(--box-color);
    }

    .box {}


}

.button-grouping {
    display: inline-block;

    &:empty {
			display: none;
		}
}

.button-grouping > button.btn:first-child {
    border-right-width: 0;
    border-top-right-radius: 0;
    border-end-end-radius: 0;
    margin-right: 0;
}
.button-grouping > button.btn:not(:first-child):not(:last-child) {
    border-left-width: 1;
    border-right-width: 1;
    border-radius: 0;
    margin-inline: 0;
}
.button-grouping > button.btn:last-child {
    border-left-width: 0;
    border-top-left-radius: 0;
    border-end-start-radius: 0;
    margin-left: 0;
}